<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>Nowy Towar</title>
</head>

<body>
	<div align="center">
		<h1>Wprowadz nowy towar</h1>

		<form action="#" th:action="@{/add}" th:object="${towar}" method="post">	
			<!-- Tabela -->
			<table border="1" cellpadding="10">
				<tr>
					<td>Waga towaru:</td>
					<td><input type="text" th:field="*{waga}"></td>
				</tr>
				<tr>
					<td>Szerokosc towaru</td>
					<td><input type="text" th:field="*{szerokosc}"></td>
				</tr>
				<tr>
					<td>Dlugosc towaru</td>
					<td><input type="text" th:field="*{dlugosc}"></td>
				</tr>
				<tr>
					<td>Wysokosc towaru</td>
					<td><input type="text" th:field="*{wysokosc}"></td>
				</tr>
				<tr>
					<td>Opis towaru:</td>
					<td><input type="text" th:field="*{opis}"></td>
				</tr>
				<!-- Save -->
				<tr>
					<td colspan="2"><button type="submit">Zapisz</button></td>
				</tr>
			</table>
		</form>
		
		<a href="/">
			<span style='font-size:100px;'>&#8592;</span>
		</a>
		
	</div>
	
</body>

</html>