<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <div align="center">
        <form action="#" th:action="@{/login/signInRequest}" th:object="${login}" method="post">
            <label for="name">Nickname:</label><br>
            <input type="text" th:field="*{name}" id="name" name="name"><br>
            <label for="password">Password:</label><br>
            <input type="text" th:field="*{password}" id="password" name="password">
            <input type="submit" value="Login">
        </form>
    </div>

</body>
</html>